<mat-grid-list cols="1" rowHeight="500px">
  <mat-grid-tile>
    <mat-card class="example-card">
      <form [formGroup]="addUserForm" class="addUserForm" id="addUserForm" (ngSubmit)="onAddUser()">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>Angular Assignment</mat-card-title>
            <mat-card-subtitle>Add User</mat-card-subtitle>
          </mat-card-header>
          <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
            <mat-error>
              <span *ngIf="firstName.invalid && firstName.touched && firstName.errors.required">Please enter first
                name</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName" name="lastName">
            <mat-error>
              <span *ngIf="lastName.invalid && lastName.touched && lastName.errors.required">Please enter last
                name</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" name="email">
            <mat-error>
              <span *ngIf="email.invalid && email.touched && email.errors.required">Please enter email</span>
              <span *ngIf="email.invalid && email.touched && !email.errors.required && email.errors.email">Please enter
                a valid email</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password" name="password">
            <mat-error>
              <span *ngIf="password.invalid && password.touched && password.errors.required">Please enter
                password</span>
            </mat-error>
          </mat-form-field>


          <label id="example-radio-group-label">Pick your rile</label>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
            formControlName="role">
            <mat-radio-button *ngFor="let userrole of usersRoles" class="example-radio-button"
              value="{{this.userrole}}">
              {{userrole}}
            </mat-radio-button>
          </mat-radio-group>
          <mat-error>
            <span *ngIf="role.invalid && role.touched && role.errors.required">Please select Role</span>
          </mat-error>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!addUserForm.valid">Submit</button>
          <button type="button" mat-raised-button color="primary" routerLink="/users">Cancel</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
