<mat-grid-list cols="1" rowHeight="500px">
  <mat-grid-tile>
    <mat-card class="example-card">
      <form [formGroup]="loginForm" class="loginForm" id="loginForm" (ngSubmit)="onLogin()">
        <mat-card-header>
          <mat-card-title>Angular Assignment</mat-card-title>
          <mat-card-subtitle>Login</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" name="email">
            <mat-error>
              <span *ngIf="email.invalid && email.touched && email.errors.required">Please enter email</span>
              <span *ngIf="email.invalid && email.touched && !email.errors.required && email.errors.email">Please enter
                a valid email</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" value="">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
          <button mat-raised-button color="primary" routerLink="/register">Register</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
